<!-- registration/password_reset_email.html -->
{% load i18n %}
{% blocktrans %}Hi {{ user.username }},{% endblocktrans %}

{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}
{% blocktrans %}Your username, in case you've forgotten: {{ user.username }}{% endblocktrans %}

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">{% blocktrans %}Reset my password{% endblocktrans %}</a>

{% blocktrans %}Your new password will be active immediately after you reset it. Please remember to keep your password safe and do not share it with anyone.{% endblocktrans %}
{% blocktrans %}If you didn't request this, please ignore this email.{% endblocktrans %}
{% blocktrans %}Thank you,{% endblocktrans %}
{% blocktrans %}The {{ site_name }} Team{% endblocktrans %}
